<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>Construction Tag Management</mat-toolbar>

  <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Tag">
      <th mat-header-cell *matHeaderCellDef> Tag No. </th>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <td mat-cell *matCellDef="let element"> {{element.Tag}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let element"> {{element.Progress}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ProgressQuantity">
      <th mat-header-cell *matHeaderCellDef> Progress Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.ProgressQuantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="QuantityAmount" mat-sort-header>
      <th mat-header-cell *matHeaderCellDef> Quantity Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.QuantityAmount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="QuantityUnit">
      <th mat-header-cell *matHeaderCellDef> Quantity Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.QuantityUnit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsV2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsV2;"></tr>
  </table>

  <div class="example-button-row">
    <button mat-button>Download as CSV</button>
    <button mat-button color="primary">Download as Excel</button>
  </div>
</div>

<router-outlet></router-outlet>
